body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #444;
    font-family:'Courier New', Courier, monospace;
}

#calculator {
    background-color: #1c1c1c;
    margin: 10vh auto;
    max-width: 15rem;
    padding: 1rem;
    border-radius: 20px;
    overflow: hidden;
}

#display {
    width: 100%;
    max-width: 100%;
    background-color: #1c1c1c;
    border: none;
    height: 4rem;
    border-radius: 15px;
    color:hsla(95, 62%, 56%, 0.917);
    text-align: right;
    font-size: clamp(2rem,  5vw, 3rem);
    overflow: hidden;

}

#btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 0;
}

#btns button {
    background-color: hsla(180, 86%, 36%, 0.915);
    color: hsla(0, 0%, 96%, 0.982);
    font-size: 1.5rem;
    height: 3rem;
    width: auto;
    text-align: center;
    border-radius: 10px;
    border: none;
    
}

#btns button:hover {
    opacity: 70%;
}

#btns button:active {
    opacity: 90%;
}